In [222]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [248]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
1854,tt0158622,83000000,59468275,The Flintstones in Viva Rock Vegas,Mark Addy|Stephen Baldwin|Kristen Johnston|Jan...,Brian Levant,Get ready to rock!,The Flintstones are at it again. The Flintston...,90,Science Fiction|Comedy|Family|Romance,Universal Pictures|Amblin Entertainment,4/28/2000,4.4,2000
1876,tt0144964,25000000,15843608,Highlander: Endgame,Christopher Lambert|Bruce Payne|Adrian Paul|Do...,Douglas Aarniokoski,It will take two immortals to defeat the ultim...,Immortals Connor and Duncan Macleod join force...,87,Action|Fantasy|Science Fiction,Davis-Panzer Productions|Dimension Films,9/1/2000,4.3,2000
470,tt0815236,20000000,49779728,She's Out of My League,Alice Eve|Jay Baruchel|Mike Vogel|Krysten Ritt...,Jim Field Smith,"When she's this hot, You get one shot.",When he starts dating drop-dead gorgeous Molly...,104,Comedy|Romance,DreamWorks SKG|Mosaic,3/11/2010,5.9,2010
326,tt1179891,15000000,100734718,My Bloody Valentine,Jensen Ackles|Jaime King|Kerr Smith|Betsy Rue|...,Patrick Lussier,He's gonna break your heart.,"Ten years ago, a tragedy changed the town of H...",101,Mystery|Horror,Lionsgate,1/16/2009,5.3,2009

In [123]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [295]:
answers = {"1. Самый большой бюджет:" : 'Pirates of the Caribbean: On Stranger Tides'
           , "2. Самый длинный (в минутах) фильм:" : 'Gods and Generals'
           , "3. Самый короткий (в минутах) фильм:" : 'Winnie the Pooh'
           , "4. Средняя длительность фильмов (в минутах):" : '110'
           , "5. Медианное значение длительности фильмов(в минутах):" : '107'
           , "6. Самый прибыльный фильм:" : 'Avatar'
           , "7. Самый убыточный фильм:" : 'The Lone Ranger'
           , "8. У скольких фильмов из датасета объем сборов оказался выше бюджета?" : '1478'
           , "9. Какой фильм оказался самым кассовым в 2008 году?" : 'The Dark Knight'
           , "10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)." : 'The Lone Ranger'
           , "11. Какого жанра фильмов больше всего?" : 'Drama'
           , "12. Фильмы какого жанра чаще всего становятся прибыльными?" : 'Drama'
           , "13. У какого режиссера самые большие суммарные кассовые сборы?" : 'Peter Jackson'
           , "14. Какой режисер снял больше всего фильмов в стиле Action?" : 'Robert Rodriguez'
           , "15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?" : 'Chris Hemsworth'
           , "16. Какой актер снялся в большем количестве высокобюджетных фильмов?" : 'Matt Damon'
           , "17. В фильмах какого жанра больше всего снимался Nicolas Cage?" : 'Action'
           , "18. Самый убыточный фильм от Paramount Pictures" : 'K-19: The Widowmaker'
           , "19. Какой год стал самым успешным по суммарным кассовым сборам?" : '2015    25449202382'
           , "20. Какой самый прибыльный год для студии Warner Bros?" : '2014    11407212316'
           , "21. В каком месяце за все годы суммарно вышло больше всего фильмов?" : 'Сентябрь'
           , "22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)" : '450'
           , "23. Для какого режиссера зима – самое продуктивное время года?" : 'Peter Jackson '
           , "24. Какая студия дает самые длинные названия своим фильмам по количеству символов?" : 'Four By Two Productions'
           , "25. Описание фильмов какой студии в среднем самые длинные по количеству слов?" : 'Midnight Picture Show'
           , "26. Какие фильмы входят в 1 процент лучших по рейтингу?" : 'Inside Out, The Dark Knight, 12 Years a Slave верно'
           , "27. Какие актеры чаще всего снимаются в одном фильме вместе?" : 'Daniel Radcliffe & Rupert Grint'} 
# создадим словарь для ответов
for item in answers.items():
    print(item)

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# Прибыль: 
data['profit'] = data['revenue'] - data['budget']

# Убыток
data['loss'] = data['budget'] - data['revenue']

('1. Самый большой бюджет:', 'Pirates of the Caribbean: On Stranger Tides')
('2. Самый длинный (в минутах) фильм:', 'Gods and Generals')
('3. Самый короткий (в минутах) фильм:', 'Winnie the Pooh')
('4. Средняя длительность фильмов (в минутах):', '110')
('5. Медианное значение длительности фильмов(в минутах):', '107')
('6. Самый прибыльный фильм:', 'Avatar')
('7. Самый убыточный фильм:', 'The Lone Ranger')
('8. У скольких фильмов из датасета объем сборов оказался выше бюджета?', '1478')
('9. Какой фильм оказался самым кассовым в 2008 году?', 'The Dark Knight')
('10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно).', 'The Lone Ranger')
('11. Какого жанра фильмов больше всего?', 'Drama')
('12. Фильмы какого жанра чаще всего становятся прибыльными?', 'Drama')
('13. У какого режиссера самые большие суммарные кассовые сборы?', 'Peter Jackson')
('14. Какой режисер снял больше всего фильмов в стиле Action?', 'Robert Rodriguez')
('15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?', 'Chris Hemsworth')
('16. Какой актер снялся в большем количестве высокобюджетных фильмов?', 'Matt Damon')
('17. В фильмах какого жанра больше всего снимался Nicolas Cage?', 'Action')
('18. Самый убыточный фильм от Paramount Pictures', 'K-19: The Widowmaker')
('19. Какой год стал самым успешным по суммарным кассовым сборам?', '2015    25449202382')
('20. Какой самый прибыльный год для студии Warner Bros?', '2014    11407212316')
('21. В каком месяце за все годы суммарно вышло больше всего фильмов?', 'Сентябрь')
('22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)', '450')
('23. Для какого режиссера зима – самое продуктивное время года?', 'Peter Jackson ')
('24. Какая студия дает самые длинные названия своим фильмам по количеству символов?', 'Four By Two Productions')
('25. Описание фильмов какой студии в среднем самые длинные по количеству слов?', 'Midnight Picture Show')
('26. Какие фильмы входят в 1 процент лучших по рейтингу?', 'Inside Out, The Dark Knight, 12 Years a Slave верно')
('27. Какие актеры чаще всего снимаются в одном фильме вместе?', 'Daniel Radcliffe & Rupert Grint')

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [20]:
# тут пишем ваш код для решения данного вопроса:
data[(data.budget == data.budget.max())].original_title.values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [19]:
data[(data.runtime == data.runtime.max())].original_title.values[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [125]:
data[(data.runtime == data.runtime.min())].original_title.values[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [15]:
round(data.runtime.mean(), )  # округляем до целого

110

# 5. Каково медианное значение длительности фильмов?

In [16]:
round(data.runtime.median(), )  # округляем до целого

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [284]:
# лучше код получения столбца profit вынести в Предобработку что в начале
# data['profit'] = data['revenue'] - data['budget']  в ПРЕДОБРАБОТКЕ
data[data.profit == data.profit.max()].original_title.values[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [285]:
# 1 Вариант:
# data['profit'] = data['revenue'] - data['budget']  в ПРЕДОБРАБОТКЕ
data[data.profit == data.profit.min()].original_title.values[0]

'The Lone Ranger'

In [286]:
# 2 Вариант:
# data['loss'] = data['budget'] - data['revenue']   в ПРЕДОБРАБОТКЕ
data[data.loss == data.loss.max()].original_title.values[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [49]:
data[data.revenue > data.budget].original_title.count()

1478

9. Какой фильм оказался самым кассовым в 2008 году?

In [288]:
data = pd.read_csv('movie_bd_v5.csv')
data9 = data.copy()
data9 = data[data.release_year == 2008]  # Оставляем 2008 год
revenue_max = year_2008.revenue.max() # находим величину максимального кассового сбора
movie = year_2008[year_2008.revenue == max_revenue] # Находим фильм с максимальным сбором
movie.original_title.values[0]

'The Dark Knight'

In [52]:
# Короткий вариант
year_2008 = data[data.release_year == 2008]
year_2008[year_2008.revenue == year_2008.revenue.max()].original_title.values[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [290]:
data = pd.read_csv('movie_bd_v5.csv')
data10 = data.copy()
data10 = data10[data10.release_year.isin([2012,2013,2014])] # Оставляем только фильмы только [2012 - 2014]гг.
# data = data[(data.release_year <= 2014) & (data.release_year >= 2012)] этот вариант некорректный
data10['loss'] = data10['budget'] - data10['revenue']  # Вычисляем убытки
data10[data10.loss == data10.loss.max()].original_title.values[0]  # Находим фильм с максимальной величиной убытка

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [157]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')
data12 = data.copy()
data12['genres_list'] = data12['genres'].str.split('|') # разделяем жанры, указанные в одном столбце
data12 = data12.explode('genres_list') # формируем df с новым столбцом на основании получившихся отдельных жанров (коряво сформулировал))))
data12.describe(include = ['object']) # В строке top указываются наиболее часто встречающиеся значения соответствующих стлобцов, 
#смотрим top/genres_list

,imdb_id,original_title,cast,director,tagline,overview,genres,production_companies,release_date,genres_list
count,5107,5107,5107,5107,5107,5107,5107,5107,5107,5107
unique,1889,1887,1878,957,1880,1889,652,1624,1435,19
top,tt0413267,Fantastic Four,Mike Myers|Eddie Murphy|Cameron Diaz|Julie And...,Ridley Scott,Worlds Collide,"An ordinary Lego mini-figure, mistakenly thoug...",Comedy,New Line Cinema,12/25/2014,Drama
freq,5,7,10,36,8,5,141,53,19,782

ВАРИАНТ 2

In [292]:
data = pd.read_csv('movie_bd_v5.csv')
data12 = data.copy()
data12['genres_list'] = data12['genres'].str.split('|')
data12 = data12.explode('genres_list')
data12_max = data12['genres_list'].value_counts(ascending=False)
data12_max.head()

Drama        782
Comedy       683
Thriller     596
Action       582
Adventure    415
Name: genres_list, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [300]:
# data = pd.read_csv('movie_bd_v5.csv')
# data['profit'] = data['revenue'] - data['budget']  В ПРЕДОБРАБОТКЕ
data12 = data.copy()
data12['genres_list'] = data12['genres'].str.split('|') # разделяем жанры по одному
data12 = data12.explode('genres_list')  # Новый df со сталбцом genres_list с разделенными жанрами
data_profit = data12[(data12.profit > 0)] # оставляем только прибыльные фильмы
data_profit['genres_list'].value_counts(ascending=False).head()  # Считаем число вхождений жанров по новому столбцу genres_list

Drama        560
Comedy       551
Thriller     446
Action       444
Adventure    337
Name: genres_list, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [305]:
data = pd.read_csv('movie_bd_v5.csv')
data13 = data.copy()
data13['director_list'] = data13['director'].str.split('|')
data13 = data13.explode('director_list')
# Далее группируем по режиссерам, суммируем их кассовые сборы, сортируем по убыванию сборов
data13.groupby(['director'])['revenue'].sum().sort_values(ascending = False).head(1)

director
Peter Jackson    6490593685
Name: revenue, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [306]:
data = pd.read_csv('movie_bd_v5.csv')
data14 = data.copy()
data14 = data14[data14.genres.str.contains('Action')].copy() # Оставляем фильмы содержащие в жанре вариант 'Action'
data14['director'] = data14['director'].str.split('|')
data14 = only_action.explode('director')
data14.director.value_counts().head(2)

Robert Rodriguez    9
Michael Bay         7
Name: director, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [308]:
data15 = data[(data.release_year == 2012)].copy()
data15['cast'] = data15['cast'].str.split('|')
data15 = data15.explode('cast')
# Далее считаем группируем по актерам, сортируем по их суммарным сборам
data15.groupby(['cast'])['revenue'].sum().sort_values(ascending = False).head(2)

cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [310]:
pd.Series(data[data.budget > data.budget.mean()].cast.str.split('|').sum()).value_counts().index[0] # !!! супер решение, но не мое)))

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [311]:
import collections
data = pd.read_csv('movie_bd_v5.csv')
nicolas = data[data.cast.str.contains('Nicolas Cage')]  # Оставляем только фильмы в составе с Nicolas Cage
# Далее находим жанр в ктором чаще всего встречается Nicolas Cage
collections.Counter(nicolas['genres'].str.cat(sep = '|').split('|')).most_common(1)

[('Action', 17)]

# 18. Самый убыточный фильм от Paramount Pictures

In [312]:
data18 = data.copy()
data18['production_companies_list'] = data18['production_companies'].str.split('|')  # разделяем по студиям
data18 = data18.explode('production_companies_list')
only_Param_Pic = data18[(data18.production_companies_list == 'Paramount Pictures')].copy() # Оставляем только Paramount Pictures
only_Param_Pic['profit'] = only_Param_Pic['revenue'] - only_Param_Pic['budget']
# Далее находим фильм с наименьшей прибылью == самый убыточный
only_Param_Pic[only_Param_Pic.profit == only_Param_Pic.profit.min()].original_title.values[0]

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [314]:
# Группируем по году, сортируем по суммам сборов по убыванию
data_19 = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending = False).head(1)
data_19

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [315]:
data = pd.read_csv('movie_bd_v5.csv')
data20 = data.copy()
data20['production_companies_list'] = data20['production_companies'].str.split('|')
data20 = data20.explode('production_companies_list')
only_War_Bros = data20[data20['production_companies'].str.contains('Warner Bros.')].copy()
only_War_Bros
only_War_Bros['profit'] = only_War_Bros['revenue'] - only_War_Bros['budget']
only_War_Bros_max = only_War_Bros.groupby(['release_year'])['profit'].sum().sort_values(ascending = False).head(2)
only_War_Bros_max

release_year
2014    11407212316
2007     9808752478
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [203]:
import pandas as pd
import collections
data = pd.read_csv('movie_bd_v5.csv')
data21 = data.copy()
data21['release_date'] = data21['release_date'].apply(lambda x: x.split('/'))
data21['month'] = data21['release_date'].apply(lambda x: int(x[0])) 
numbers_months =  data21.month.value_counts()
months = {1:'Январь', 2:'Февраль', 3:'Март', 4:'Апрель', 5:'Май', 6:'Июнь', 7:'Июль', 8:'Август', 9:'Сентябрь', 10:'Октябрь', 11:'Ноябрь', 12:'Декабрь'}
print(months[numbers_months.index[0]])

Сентябрь

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [277]:
data = pd.read_csv('movie_bd_v5.csv')
data22 = data.copy()
data22.release_date = data22.release_date.apply(lambda x: x.split('/'))
data22['month'] = data22['release_date'].apply(lambda x: x[0])
summer_film = data22.loc[data22['month'].isin(['6', '7', '8'])]
print('В летние месяцы суммарно вышло', summer_film['original_title'].count(), 'фильмов.')

В летние месяцы суммарно вышло 450 фильмов.

# 23. Для какого режиссера зима – самое продуктивное время года?

In [272]:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data.release_date = pd.to_datetime(data.release_date)  # Помощь менторов. РАЗОБРАТЬСЯ!
winter_director = data.copy()
winter_director['director'] = winter_director['director'].str.split('|')
winter_director = winter_director.explode('director')
winter_director_groupby = winter_director[winter_director.release_date.dt.month.isin([1,2,12])]  # Помощь менторов. РАЗОБРАТЬСЯ!
winter_director_groupby.groupby('director')['imdb_id'].count().sort_values(ascending=False).head(1)
# !!!!

director
Peter Jackson    7
Name: imdb_id, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [238]:
data24 = data.copy()
data24['production_companies'] = data24.production_companies.apply(lambda x:x.split('|'))
data_prod_comp = data24.explode('production_companies')
data_prod_comp['title_len'] = data_prod_comp['original_title'].apply(lambda x: len(x))
data_prod_comp[data_prod_comp.title_len == data_prod_comp.title_len.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation,11/2/2006,6.4,2006,83
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Four By Two Productions,11/2/2006,6.4,2006,83

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [316]:
data25 = data.copy()
data25['production_companies'] = data25['production_companies'].apply(lambda x: x.split('|'))
data25['overview_len'] = data25['overview'].apply(lambda x: x.split()).apply(len)
data25 = data25.explode('production_companies').groupby('production_companies').overview_len.mean()
data25[data25 == data25.max()]

production_companies
Midnight Picture Show    175.0
Name: overview_len, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [319]:
data26 = data.copy()
data_percentile = np.percentile(data26['vote_average'], 99)
data26 = data26[data26['vote_average'] > data_percentile]
data26['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [321]:
import collections
data27 = data.copy()
data27['cast'] = data27['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
from collections import Counter
data27['pairs'] = data27['cast'].apply(lambda s: list(combinations(s, 2)))
data27 = data27.explode('pairs')
collections.Counter(data27['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [322]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1. Самый большой бюджет:': 'Pirates of the Caribbean: On Stranger Tides',
 '2. Самый длинный (в минутах) фильм:': 'Gods and Generals',
 '3. Самый короткий (в минутах) фильм:': 'Winnie the Pooh',
 '4. Средняя длительность фильмов (в минутах):': '110',
 '5. Медианное значение длительности фильмов(в минутах):': '107',
 '6. Самый прибыльный фильм:': 'Avatar',
 '7. Самый убыточный фильм:': 'The Lone Ranger',
 '8. У скольких фильмов из датасета объем сборов оказался выше бюджета?': '1478',
 '9. Какой фильм оказался самым кассовым в 2008 году?': 'The Dark Knight',
 '10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно).': 'The Lone Ranger',
 '11. Какого жанра фильмов больше всего?': 'Drama',
 '12. Фильмы какого жанра чаще всего становятся прибыльными?': 'Drama',
 '13. У какого режиссера самые большие суммарные кассовые сборы?': 'Peter Jackson',
 '14. Какой режисер снял больше всего фильмов в стиле Action?': 'Robert Rodriguez',
 '15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?': 'Chris Hemsworth',
 '16. Какой актер снялся в большем количестве высокобюджетных фильмов?': 'Matt Damon',
 '17. В фильмах какого жанра больше всего снимался Nicolas Cage?': 'Action',
 '18. Самый убыточный фильм от Paramount Pictures': 'K-19: The Widowmaker',
 '19. Какой год стал самым успешным по суммарным кассовым сборам?': '2015    25449202382',
 '20. Какой самый прибыльный год для студии Warner Bros?': '2014    11407212316',
 '21. В каком месяце за все годы суммарно вышло больше всего фильмов?': 'Сентябрь',
 '22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)': '450',
 '23. Для какого режиссера зима – самое продуктивное время года?': 'Peter Jackson ',
 '24. Какая студия дает самые длинные названия своим фильмам по количеству символов?': 'Four By Two Productions',
 '25. Описание фильмов какой студии в среднем самые длинные по количеству слов?': 'Midnight Picture Show',
 '26. Какие фильмы входят в 1 процент лучших по рейтингу?': 'Inside Out, The Dark Knight, 12 Years a Slave верно',
 '27. Какие актеры чаще всего снимаются в одном фильме вместе?': 'Daniel Radcliffe & Rupert Grint'}

In [323]:
# и убедиться что ни чего не пропустил)
len(answers)

27